@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700");
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; }
  .navbar-nav .dropdown-menu {
    position: static;
    float: none; }

a {
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out; }
  a:hover {
    text-decoration: none; }
  a img {
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out; }
    a img:hover {
      opacity: .7; }

.block-color {
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out; }
  .block-color:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }

.fixed-top {
  position: fixed !important; }

.header-sticky {
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  background-color: #23009d;
  height: 130px; }

.header-buttons {
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  display: block;
  float: right;
  margin: -5px -5px 0 30px; }
  .header-buttons.disabled {
    display: none; }

.color-indigo {
  color: #70144c; }

.color-blue-dark {
  color: #385379; }

.color-blue {
  color: #3699e0; }

.color-pink {
  color: #d90e78; }

.color-purple {
  color: #23009d; }

.color-312c70 {
  color: #312c70; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #312c70; }

.nav-mobile {
  margin-top: 15px;
  display: none;
  z-index: 999; }
  .nav-mobile .container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999; }

.navbar-toggler {
  background-color: white; }

.menu-svg {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
  -webkit-filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.3)); }

svg:not(:root) {
  overflow: hidden; }

.menu-overlay {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  z-index: 999 !important; }
  .menu-overlay .menu-plate {
    position: absolute;
    left: 0;
    top: 0px;
    left: -400px;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    background: white;
    box-shadow: 3px 0px 30px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out; }
    .menu-overlay .menu-plate .menu-close {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 15px;
      cursor: pointer; }
      .menu-overlay .menu-plate .menu-close svg {
        position: absolute;
        top: 15px;
        right: 20px; }
      .menu-overlay .menu-plate .menu-close img {
        position: absolute;
        top: 7px;
        left: 30px; }
    .menu-overlay .menu-plate ul {
      padding-top: 70px;
      height: auto; }
      .menu-overlay .menu-plate ul li a {
        width: 100%; }

html.menu-open .menu-plate {
  -webkit-transform: translate3d(400px, 0px, 0px);
  transform: translate3d(400px, 0px, 0px); }

html.menu-open .menu-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: auto; }

.nav-desktop {
  display: flex; }
  .nav-desktop .fab {
    margin-left: 10px; }

.custom-menu {
  text-align: center;
  text-transform: uppercase;
  margin-right: -10px; }
  .custom-menu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    margin: 0 9px;
    color: white !important;
    font-weight: 700; }
    .custom-menu a:before {
      position: absolute;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
      bottom: 0;
      display: block;
      height: 0;
      width: 100%;
      content: "";
      background-color: #3699e0; }
    .custom-menu a:hover:before {
      opacity: 1;
      height: 3px; }
  .custom-menu .current a:before {
    opacity: 1;
    height: 3px; }

.team-thumb-hover {
  position: relative;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  width: 100%;
  background-color: #c37d58; }
  .team-thumb-hover *, .team-thumb-hover:before, .team-thumb-hover:before, .team-thumb-hover:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .team-thumb-hover:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #c37d58; }
  .team-thumb-hover img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top; }
  .team-thumb-hover:hover img {
    zoom: 1;
    filter: alpha(opacity=40);
    -webkit-opacity: 0.4;
    opacity: 0.4; }
  .team-thumb-hover .icons {
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
    .team-thumb-hover .icons a {
      margin: 2px;
      opacity: 0;
      -webkit-transform: scale(0.5);
      transform: scale(0.5); }
      .team-thumb-hover .icons a i {
        display: block;
        font-size: 23.52941176px;
        line-height: 40px;
        width: 40px;
        background-color: #ffffff;
        text-align: center;
        color: #000000; }
        .team-thumb-hover .icons a i:hover {
          background-color: #000000;
          color: #ffffff;
          cursor: pointer; }
  .team-thumb-hover:hover a,
  .team-thumb-hover .hover a {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  .team-thumb-hover:hover a:nth-child(2),
  .team-thumb-hover .hover a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s; }
  .team-thumb-hover:hover a:nth-child(3),
  .team-thumb-hover .hover a:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s; }

.custom-image-hover {
  margin: 0;
  overflow: hidden;
  width: 100%; }
  .custom-image-hover * {
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .custom-image-hover img {
    max-width: 100%;
    vertical-align: top; }
  .custom-image-hover:hover img, .custom-image-hover.hover img {
    -webkit-transform: scale(1.3) rotate(5deg);
    transform: scale(1.3) rotate(5deg); }

.block-color {
  position: relative;
  display: block;
  width: 100%;
  height: 353px; }
  .block-color h4 {
    line-height: 353px; }

h1,
h2,
h3,
h4 {
  font-weight: 700; }

.btn-group-desktop {
  display: block; }

.btn-group-mobile {
  display: none; }

.navbar-nav {
  font-size: .875em;
  font-weight: 600; }

.navbar {
  padding: 0;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3); }

.navbar-brand {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 20px; }
  .navbar-brand img {
    max-width: 140px; }
  .navbar-brand.small {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    margin-top: -10px; }

.card {
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  border: none; }
  .card a {
    text-decoration: none; }

.card-header {
  border: none; }
  .card-header button {
    text-transform: uppercase; }

.active-acc {
  background-color: #f6ca00; }

.form-control:focus {
  border-color: #f6ca00; }

.btn-group .btn {
  font-size: .785em;
  padding: 8px 32px;
  text-transform: uppercase;
  border: none;
  letter-spacing: .08em; }
  .btn-group .btn.btn-light {
    background-color: #ededed; }
    .btn-group .btn.btn-light.active {
      background-color: #f6ca00; }

.badge {
  letter-spacing: .05em; }

.top-0 {
  padding-top: 0 !important; }

.bottom-0 {
  padding-bottom: 0 !important; }

#navHeader {
  position: absolute;
  width: 100%;
  z-index: 1; }
  #navHeader .navbar-brand {
    display: none; }

#slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  z-index: 0; }
  #slider .carousel-item {
    width: 100%;
    height: 1000px; }
    #slider .carousel-item.mobile {
      display: none; }

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  z-index: -1;
  background-color: #23009d; }
  #header .header-title {
    margin-top: 150px; }
    #header .header-title h1 {
      color: #3699e0; }

.carousel-caption {
  position: absolute;
  top: 42%;
  left: 10%; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none; }

.btn-14055d {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #14055d;
  background: linear-gradient(0deg, #21136a 0%, #4520dd 100%);
  color: white; }
  .btn-14055d:hover {
    color: white; }

.btn-link:hover, .btn-link:active, .btn-link:focus {
  text-decoration: none; }

.btn-outline-light:hover, .btn-outline-light:active, .btn-outline-light:focus {
  color: #14055d;
  background: white !important; }

.custom-btn {
  position: relative;
  display: inline-block;
  padding-right: 30px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .custom-btn span {
    line-height: 30px;
    display: inline-block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.8; }
  .custom-btn i {
    position: absolute;
    line-height: 30px;
    font-size: 14px;
    right: 22px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .custom-btn:hover span, .custom-btn.hover span {
    -webkit-transform: translate3d(-10px, 0px, 0px);
    transform: translate3d(-10px, 0px, 0px);
    opacity: 1; }
  .custom-btn:hover i, .custom-btn.hover i {
    opacity: 0.8; }
  .custom-btn:active span {
    -webkit-transform: translate3d(-14px, 0px, 0px);
    transform: translate3d(-14px, 0px, 0px); }
  .custom-btn:active i {
    right: 18px; }

.carousel-btn {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #312a70;
  padding: 40px 0;
  border-top: solid 4px #0e0a35; }
  .carousel-btn .btn-outline-light {
    background-color: #312a70;
    border: solid 4px #0e0a35; }
  .carousel-btn .btn-lg {
    font-size: 30px;
    padding: 15px 50px; }

.main-container {
  position: absolute;
  width: 100%;
  top: 1000px; }

.page-container {
  position: absolute;
  width: 100%;
  top: 250px; }

.bg-grey {
  background-color: #eee; }

.bg-eaf1fb {
  background-color: #eaf1fb; }

.section-default {
  padding: 100px 0; }
  .section-default .grid {
    float: left;
    padding: 0 5px; }
    .section-default .grid h6 {
      min-height: 70px; }

.section-half {
  padding: 50px 0; }

.section-about h6:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 10px;
  width: 50px;
  height: 2px;
  background-color: #ddd; }
.section-about h1 {
  padding-top: 20px;
  font-size: 50px; }
  .section-about h1:after {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    width: 50px;
    height: 4px;
    background-color: #c37d58; }
.section-about h2 {
  font-size: 40px; }
.section-about .image {
  width: 100%;
  height: 400px;
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, -80% 100%); }
  .section-about .image .caption {
    position: absolute;
    right: 0;
    bottom: -33px;
    font-size: 10px; }
.section-about .image-page {
  width: 100%;
  min-height: 600px; }
  .section-about .image-page .caption {
    position: absolute;
    right: 0;
    bottom: -33px;
    font-size: 10px; }

.timeline .block {
  font-size: 1em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #70144c 0%, #3699e0 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 60px;
  position: relative; }
  .timeline .block:before {
    content: "";
    position: absolute;
    padding: 10px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: linear-gradient(to right, #70144c 0%, #3699e0 100%);
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 1em; }
  .timeline .block:nth-of-type(1):before {
    content: "2019"; }
  .timeline .block:nth-of-type(2):before {
    content: "2018"; }
  .timeline .block:nth-of-type(3):before {
    content: "2017"; }
  .timeline .block:nth-of-type(4):before {
    content: "2016"; }
  .timeline .block:nth-of-type(5):before {
    content: "2015"; }
  .timeline .block:nth-of-type(6):before {
    content: "2014"; }
  .timeline .block:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0; }
    .timeline .block:nth-child(odd):before {
      left: 100%;
      margin-left: -20px; }
  .timeline .block:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0; }
  .timeline .block:before {
    right: 100%;
    margin-right: -20px; }
  .timeline .block:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0; }
  .timeline .block:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }

.gallery {
  padding: 1px; }
  .gallery .col-md-2,
  .gallery .col-6 {
    border: solid 1px white; }

.item {
  display: none; }

.box-item {
  float: left;
  opacity: 1;
  overflow: hidden;
  position: relative; }
  .box-item img {
    width: 100%; }
  .box-item a,
  .box-item span {
    color: #fff; }
  .box-item .box-post {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .box-item .box-post span.meta {
      font-family: sans-serif;
      font-size: 12px;
      color: #fff;
      margin-top: 15px;
      display: block; }
      .box-item .box-post span.meta span {
        margin-right: 15px; }
    .box-item .box-post h3.post-title {
      font-size: 16px; }
    .box-item .box-post h3 a:hover {
      opacity: .7; }

.news .col-md-6,
.news .col-md-3 {
  padding: 1px; }

.patrocinadores img {
  display: block; }
.patrocinadores .mobile {
  display: none; }

footer {
  background-color: #3e1b7a; }
  footer .form-control {
    background-color: #301362;
    border: none;
    color: white !important;
    padding: 10px; }
    footer .form-control::placeholder {
      color: #7549c0; }
    footer .form-control:hover, footer .form-control:focus {
      background-color: rgba(0, 0, 0, 0.4); }
  footer .btn-footer {
    background-color: #301362;
    color: white; }

.show-block {
  display: block !important; }

@media only screen and (max-width: 1024px) {
  .nav-desktop {
    display: none; }

  .nav-mobile {
    display: block; }

  #slider {
    height: 450px !important; }
    #slider .carousel-item {
      height: 450px !important; }

  .main-container {
    top: 420px; } }
@media only screen and (max-width: 1360px) {
  #header {
    height: 220px; }
    #header .header-title {
      margin-top: 150px; }
      #header .header-title h1 {
        font-size: 30px; }

  .page-container {
    top: 250px; }

  .fixed-top {
    display: none; }

  .btn-group-desktop {
    display: none; }

  .btn-group-mobile {
    display: block; }

  .carousel-control-prev {
    left: -80px; }

  .carousel-control-next {
    right: -80px; }

  .section-default h5 {
    font-size: 11px; }
  .section-default .grid {
    margin-bottom: 30px; }
    .section-default .grid h6 {
      min-height: 20px; }

  footer {
    padding: 40px 40px; }

  .carousel-btn .btn-lg {
    font-size: 24px !important; }

  .section-default {
    padding: 50px 0; } }
@media only screen and (orientation: portrait) {
  #header {
    height: 150px; }
    #header .header-title {
      margin-top: 80px; }
      #header .header-title h1 {
        font-size: 30px; }

  .page-container {
    top: 150px; }

  .nav-desktop {
    display: none; }

  .nav-mobile {
    display: block; }

  .fixed-top {
    display: none; }

  .navbar-brand {
    margin-top: 0; }
    .navbar-brand img {
      max-width: 60px; }

  #slider .carousel-item.desktop {
    display: none; }
  #slider .carousel-item.mobile {
    display: block; }

  .carousel-btn {
    padding: 10px 0; }
    .carousel-btn .btn-lg {
      font-size: 18px;
      padding: 8px 22px; }

  .btn-group-desktop {
    display: none; }

  .btn-group-mobile {
    display: block; }

  .carousel-control-prev {
    display: none; }

  .carousel-control-next {
    display: none; }

  .section-default.instituicoes {
    padding-bottom: 0; }

  .inscricao img {
    max-width: 220px; }
  .inscricao h4 {
    padding: 0 30px;
    font-size: 18px; }

  .timeline .block {
    font-size: 14px;
    padding: 30px 70px; }
    .timeline .block:before {
      left: 10px;
      height: 50px;
      width: 50px;
      line-height: 30px; }
    .timeline .block:nth-child(odd):before {
      margin-left: -60px; }

  .news.section-half {
    padding: 0; }

  .patrocinadores > img {
    display: none; }
  .patrocinadores .mobile {
    display: block;
    float: left;
    width: 100%; }

  footer {
    padding: 40px 40px; }
    footer .colors {
      display: none; }
    footer .section-half {
      padding: 0; }
    footer .col-12 {
      margin-bottom: 30px; } }

/*# sourceMappingURL=custom.css.map */
